h1, h3, h4, p {
    margin: 0;
    padding: 0;
}

.page {
    width: 100%;
}
.image {
    width: 100%;
    height: 901px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0.51) 100%), url(./images/tzeezotje.jpg), lightgray 50% / cover no-repeat;
}
.header {
    padding: 55px 80px 0px;
    /* width: 62%; */
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* @media screen and (max-width: 1440px) {
    .header {
        width: 80%;
    }
} */
.header__logo {
    width: 269px;
    height: 55px;
}
.header__menu {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1220px) {
    .header__menu {
        display: none;
    }
}
.menu__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 45px; 
}
@media screen and (max-width: 1440px) {
    .menu__links {
        gap: 30px;
    }
}
.menu__links_type_burger {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.menu__link {
    text-decoration: none;
    list-style-type: none;
    color: #FFF;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.menu__link:hover {
    opacity: 0.6;
}
.header__container-burger {
    display: flex;
}
@media screen and (max-width: 1220px) {
    .header__container-burger {
        display: flex;
        gap: 40px;
    }
}

.header__cont {
    display: grid;
    grid-template-columns: 24px 124px;
    gap: 11px;
    align-self: center;
}
.header__icon {
    width: 24px;
    height: 24px;
}
.header__tel {
    color: #FFF;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
@media screen and (max-width: 1220px) {
    .header__burger {
        background-image: url(./images/burger.svg);
        background-size: cover;
        width: 48px;
        height: 48px;
        cursor: pointer;
        align-self: center;
    }
    .header__burger:hover {
        opacity: 0.6;
    }
}
.content {
    padding: 154px 80px 0px;
    /* width: 62%; */
    max-width: 1168px;
    margin: 0 auto;
}
/* @media screen and (max-width: 1440px) {
    .content {
        width: 80%;
    }
} */
.content__subtitle {
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    letter-spacing: 1.44px;
    margin-bottom: 24px;
}
.content__title {
    color: #FFF;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
    margin-bottom: 40px;
}
.content__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content__btn {
    width: 270px;
    height: 100px;
    background-color: #3A4574;
    color: #FFF;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.content__media-btns {
    display: flex;
    gap: 25px;
}
.content__media-btn {
    width: 48px;
    height: 48px;
    background-image: url(./images/media-btn.svg);
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
    border: none;
    color: #FFF;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}
.review {
    padding: 60px 80px 175px;
    /* width: 62%; */
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
}
/* @media screen and (max-width: 1440px) {
    .review {
        width: 80%;
    }
} */
.review__cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.review__cont-days {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 469px; */
    width: 40%;
}
.review__days {
    padding: 16px 0 7px;
    height: 114px;
    border-bottom: 1px solid #E7E7E7;
    box-sizing: border-box;
}
.review__title {
    margin-bottom: 10px;
    color: #000;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
.review__text {
    display: flex;
    gap: 12px;
}
@media screen and (max-width: 1160px) {
    .review__text {
        gap: 8px;
    }
}
.review__subtitle {
    color: #000;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
@media screen and (max-width: 1280px) {
    .review__subtitle {
        font-size: 16px;
        line-height: 30px;
    }
}
@media screen and (max-width: 1160px) {
    .review__subtitle {
        font-size: 14px;
        line-height: 26px;
    }
}
.review__imgs {
    /* width: calc(); */
    width: 57.1%;
    position: relative;
    display: flex;
    justify-content: center;

}
.review__square {
    /* width: 471px; */
    /* position: absolute; */
    width: 70.5%;
    height: 502px;
    border: 2px solid #D3B47F;
    margin-top: 51px;
    left: 20px;
}
.review__img {
    position: absolute;
    /* width: 48.4%; */
    max-width: 323px;
    /* height: 486px; */
    top: 152px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
}
.review__img_type_two {
    position: absolute;
    top: 20px;
    left: calc(100% - 323px);
    right: 0px;
    z-index: 2;
}
.service {
    max-width: 1168px;
    padding: 219px 80px 220px;
    background: #3A4574;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service__arrow {
    /* display: flex; */
    width: 70px;
    height: 70px;
    /* align-items: center;
    transform: rotate(-90deg);
    justify-content: center;
    flex-shrink: 0; */
}
.service__cont {
    max-width: 785px;
    display: flex;
    flex-direction: column;
}
.service__icon {
    margin: auto;
    width: 83px;
    height: 58px;
}
.service__title {
    margin: 34px 0 20px;
    color: #D3B47F;
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}
.service__text {
    margin-bottom: 40px;
    color: #FFF;
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
.service__author {
    color: #D3B47F;
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 166.667% */
    letter-spacing: 5.88px;
}
.meal {
    max-width: 1168px;
    padding: 109px 80px 80px;
    margin: 0 auto;
}
.meal__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.meal__item {
    min-width: 100%;
    display: flex;
    gap: 30px;
}
.meal__item_type_reverse {
    flex-direction: row-reverse;
}
.meal__descr {
    width: 470px;
    align-self: center;
}
.meal_title {
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
    margin-bottom: 20px;
}
.meal__text {
    color: var(--text-body, #808080);
    /* Body/16px Regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
}
.meal__img {
    max-width: 670px;
    /* height: 560px; */
    /* flex-shrink: 0; */
    overflow: hidden;
}

/* //////////// */
.burger {
    display: none;
}
.burger_open {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.burger__container {
    width: 100%;
    height: 100%;
    background-color: #201f1f;
    display: flex;
    justify-content: center;
    position: relative;
}
.burger__button {
    position: absolute;
    top: 55px;
    right: 80px;
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer
}
.burger__button:before {
    position: absolute;
    content: '';
    height: 48px;
    border: 2px solid #fff;
    top: 0;
    transform: rotate(45deg);
}
.burger__button:after {
    position: absolute;
    content: '';
    height: 48px;
    border: 2px solid #fff;
    top: 0;
    transform: rotate(-45deg);
}
.burger__button:hover {
    opacity: 0.6;
}
.burger__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}